
body{
    background-color: rgba(0,0,0,0.6);
}
.navbar{ 
    text-align: left; 
    font-size:50px;
    color:black;
    background:#568EA6;
    width:100%;
    box-shadow:0 10px 10px #FBE4E0;
}
#map{
    box-shadow:0 10px 10px #FBE4E0;
    color:#3D4578;
    float:left; 
    text-align:center; 
    width: 600px;
    height:450px;
    border-radius:30px;
    border: 4px solid rgb(130, 132, 238);
}
#inputs{
    box-shadow:0 10px 10px #FBE4E0;
    background-color:rgba(0,0,0,0.8);;
    width: 400px;
    height: 450px;
    display: flex; 
    float:right; 
    border-radius: 30px;
    border: 4px solid rgb(130, 132, 238);
}
#h2{
    height: 50px;
    width: 100%;
    text-align: center;
    color:white;
}
#start{ 
        background-color:white;
        color:Black; 
        border-radius:4px;
        width:content;
        font-size:20px;
        position:fixed;
        top: 350px;
        right: 100px;
}
#stop{ 
        background-color:white;
        color:Black; 
        border-radius:4px;
        width:content;
        font-size:20px;
        position:fixed;
        top: 400px;
        right: 110px;
        display: block;
}
#busno{
        color:black;
        border-radius:5px;
        height:30px;
        font-size:27px;
        position:fixed;
        top: 300px;
        right: 30px;
    }
footer{
    position:fixed;
    top:550px;
    left:650px;
}
      

@media only screen and (max-width:700px){
        body{
            background-color: grey;
        }
        .navbar{
            padding-top:5px;
            height:50px;
            font-size: 25px;
        }
        #map{
            position: fixed;
            top:180px;
            width:100%;
            left:0px;
            margin-top: 100px;
            height: 380px;
            border:none;
        
        }
        #inputs{
            border: none;
            background-color: grey;
        }
        #h2{
            right: 5px;
            position: fixed;
            top:50px;
            font-size:40px;
            }
        #busno{
            width:180px;
            height: 25px;
            position:fixed;
            top:140px;
            left:80px;
        }
        #start{
            width:fit-content;
            position:fixed;
            top:180px;
            left:90px;
        }
        #stop{
            width:fit-content;
            position:fixed;
            top:230px;
            left:95px;
            display:none;
        }
    }