.secondbox{
    background-color: white;
}
#tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5vh;
}

#tab li a{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    color: #555;
    padding: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#tab li .active{
    color: #6442ff;
}

#tab li a:hover{
    color: #6442ff;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    padding-bottom: 30vh;
    justify-content: space-around;
}


@media (max-width:600px){

    #tab{
        flex-direction: column;
        text-align: center;
    }
    .flex-container{
        margin-top: 1vh;
        flex-direction: column;
        text-align: center;
    }
    .flex-container div{
        padding: 10vh;
    }

    .img1{
        display: none;
    }
    .img2{
        display: none;
    }   
}