#bg{
    position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        opacity:0.95;
        object-fit: cover;
        z-index: -1;
}

#nav{
    padding: 20px;
    z-index: 1;
    background: none;
    border-color: rgba(48,49,51,0);
    transition: 0.1s;
  }
  .logobar img{
    height: 100px;
    width:140px;
}

.mentab img{
    width: 40%;
    height: 60%;
    display: none;
}
.mentab{
    align-content:center;
    margin-top: 2em;
    text-align: right;
}
.container-fluid{
    align-content: center;
    background: none;
    display: flex;

}
.navtab{
    display: block;
    text-align: center;
    margin-top:3em;
    width: 90em;
}

.list-inline li{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-right: 3em;
    letter-spacing: 0.05em;
}

.list-inline li a{
    color: #ffffff;
}

.linkedin{
   margin-top: 3em;
   width: 10em;
   text-align: right;
}


.firstbox{
    margin-top:50vh;
    margin-bottom: 50vh;
    overflow-wrap:normal;
    text-align: center;
}

.firstbox h1{
    font-family: 'poppins',sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #ffffff;
}

.firstbox p{
    color: #ffffff;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@media (max-width:600px){
    .firstbox h1{
        font-size: 230%;
    }
}

@media (max-width:900px){
    #nav{
        background-color: #111;
    }
    .mentab img{
        display: block;
        height: 7vh;
        width:7vh;
        float:right;
    }
    .mentab{
        width: 50%;
    }
    .logobar{
        width: 50%;
    }
    .navtab{
        display: none;
    }
    .linkedin{
        display: none;
    }
}






.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index:3; 
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 130px; 
    transition: 0.5s;
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 8vh;
    right: 30px;
    font-size: 50px;
    margin-left: 50px;
  }
  

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
